@font-face {
  font-family: logo-font;
  src: url(../fonts/Sacramento/Sacramento-Regular.ttf) format('truetype');
}

:root {
  --banner-color: #fcfbf4;
  --banner-container-bg-color: rgba(0, 0, 0, 0.5);
  --form-bg-color: #ffffff;
  --text-color: black;
  --label-color: #5b5b5b;
  --box-shadow-color: #cccccc;
  --logo-fonts: logo-font, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  --text-fonts: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', sans-serif;
  --banner-min-width: 20rem;
  --input-border-color: #E5E7EB;
  font-size: calc(8px + 0.4vh + 0.4vw);
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}

body::before {
  content: '';
  position: absolute;
  left: -7rem;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url('../images/ice-cream-background.jpg') no-repeat;
  background-size: auto 100%;
}

#banner {
  position: relative;
  flex: 1;
  color: var(--banner-color);
  min-width: var(--banner-min-width);
}

#logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10rem;
  background-color: var(--banner-container-bg-color);
  height: 9rem;
  width: 100%;
}

#logo-text {
  font-family: var(--logo-fonts);
  font-weight: bold;
  font-size: 3.2rem;
  margin: 0;
  width: 9rem;
}

#logo {
  height: 8rem;
}

#photo-credit {
  position: absolute;
  background-color: var(--banner-container-bg-color);
  color: var(--banner-color);
  font-family: var(--text-fonts);
  font-size: 0.85rem;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 0.4rem 0 0.4rem;
}

#banner a:link, #banner a:visited {
  color: var(--banner-color);
}

form {
  flex: 2;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: var(--banner-color);
}

fieldset {
  border: none;
  padding-left: 3rem;
}

#intro {
  padding-right: 6rem;
  padding-bottom: 2rem;
}

p, legend {
  font-family: var(--text-fonts);
  font-size: 1.25rem;
  font-weight: 500;
  margin: 1.5rem 0 0.5rem 0;
}

legend {
  position: relative;
  top: 1.75rem;
}

#main {
  background-color: var(--form-bg-color);
  box-shadow: 0.1rem 0.2rem 0.6rem var(--box-shadow-color);
  padding-top: 2.75rem;
  padding-bottom: 2rem;
  padding-right: 12rem;
}

#form-rows {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.form-input {
  flex: 1;
  display: flex;
  flex-flow: column;
  font-family: var(--text-fonts);
}

label {
  font-size: 0.65rem;
  font-weight: 600;
  color: var(--label-color);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 0.1rem;
}

input {
  border: var(--input-border-color) solid 0.1rem;
  border-radius: 0.2rem;
}

input:focus {
  outline-style: solid;
  outline-width: 0.08rem;
  box-shadow: 0.1rem 0.1rem 0.6rem var(--box-shadow-color);
}

input:invalid:not(:placeholder-shown) {
  outline-color: red;
}

#closing {
  padding-top: 2rem;
  padding-bottom: 5rem;
}

button {
  padding: 0.4rem 2.4rem;
}

#closing a:link, #closing a:visited {
  color: black;
}
